//@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./imports/app/colors.scss";
@import "./theme/loader.main.scss";
@import "./theme/modal.scss";
@import "theme/_body";
@import "theme/_cards";

.footer {
    bottom: 0px;
    min-height: 100px; 
    background-color: #3a93b2;
}

.footer-text {
    margin-top: 50px;
    width: 100%;
    bottom: 0px;
    font-size: 16px;
    color: #ffffff;
}

.navbar {
    background-color: #000000;
    color: #ffffff;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.4);
}

.fa-bars {
     color: #fff;   
}

.navbar a {
    color: #ffffff;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
     color: #3a93b2;
}

.navbar a:hover {
    color: #3a93b2; 
}

.main-content {
    min-height: 100vh;  
    margin-top: 65px;
}

.title-text {
  font-family: 'Pangolin', sans-serif;
}

header, main, nav, .widget {
    flex: 1 0 0%;
    margin-bottom: 1em;
    min-height: 100px;
}

header, article, .widget {
    background-color: #eee;
}

main {
    display: flex;
    flex-direction: row;
    z-index: 0;
}

main aside {
    flex: 1 0 0%;
    //margin-left: 1em;
}

main article {
    flex: 1 0 0%;
    margin-bottom: 1em;
    min-height: 200px;
}

main section {
    display: flex;
    flex: 3 0 0%;
    flex-direction: column;
    padding-bottom: 30px;
}

main .widget {
    min-height: 150px;
    top: 50px;
}

nav {
    min-height: 40px;
    top: 0;
    z-index: 1;
}

ul.dropdown-menu {
    display: block ;
}