<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <label>Paskelbti maršrutą?</label>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="emitPublishRoute()">Paskelbti</button>
                <button class="btn btn-danger" (click)="hideModal()">Atšaukti</button>
            </div>
        </div>
    </div>
</div>