.input-group-addon {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.form-control {
	border: 1px solid #fff;
}

.sticky-header {
   top:0;
   transition: top 0.2s ease-in-out;
 }

.nav-up {
  top: -60px;
}