<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Naujas maršrutas</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label >Pavadinimas</label>
                    <input type="text" class="form-control" [(ngModel)]="name">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="createNew()">Kurti</button>
                <button class="btn btn-danger" (click)="hideModal()">Atšaukti</button>
            </div>
        </div>
    </div>
</div>