body {
    min-height: 100vh;
    font-family: 'Pangolin', sans-serif;
    //background-color: #e1e3de;
    background: linear-gradient(
                    rgba(200, 200, 200, 0.4),
                    rgba(200, 200, 200, 0.4)
    ), url('./img/topography.png') repeat;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}